<div class="container-fluid">
  <div class="row mb-5">
    <!-- Read all from locations array-->
    <div class="row-md-12" *ngFor="let loc of locations;let i=index">
      <div class="row mt-5" *ngFor="let originAddress of loc.origin_addresses;let j=index">
        <div class="col-md-3" style="font-size: 1.5em;">
            <div class="pb-2 border-bottom border-info">
              <small class="text-muted">Source Location:</small><br>
              <i appIcon iconname="map-marker"></i>&nbsp;
                {{originAddress}}
            </div>
        </div>
        <div class="col-md-9 border-start border-info">
          <span class="text-info">Travelling to:</span>
          <div class="row mb-5" *ngFor="let destination of loc.rows[j].elements;let k=index">
              <div class="col-lg-5 mb-1 border-end pt-3 pb-2" style="font-size: 1.3em;" >
                  <i appIcon iconname="long-arrow-right" ></i>&nbsp;&nbsp;&nbsp;
                  <i appIcon iconname="map-marker"></i>
                  {{loc.destination_addresses[k]}}
              </div>
              <div class="col-lg-7 mb-2">
                <table class="table table-borderless">
                 <tbody>
                   <tr>
                     <th style="width: 30%;">
                      Distance:
                    </th>
                     <td>
                        <i appIcon iconname="car" ></i> &nbsp;
                        {{destination.distance.text}} &nbsp;
                        ({{destination.distance.value|metretokilometre}} km.)
                        <div class="progress" style="height: 2px;">
                            <div class="progress-bar" role="progressbar"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                              [style.width]="(destination.distance.value / loc.rows[j].max * 100)+'%' ">
                            </div>
                        </div>
                     </td>
                   </tr>
                   <tr>
                    <th>
                      Duration:
                   </th>
                    <td>
                      <i appIcon iconname="clock-o"></i>&nbsp;
                      {{destination.duration.text}}&nbsp;
                      ({{destination.duration.value|secondstominutes}} mins.)
                    </td>
                  </tr>
                 </tbody>
                </table>
              </div>
          </div>
          
        </div>
         
      </div>
    <hr>
    </div>
  </div>
  
</div>